/*
From Eric Meyer:
http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*end of Reset*/

body {
  font-family: palatino, 'times new roman', serif;
  text-align:center;
  min-width:410px;
}

h1 {
  font-size: 5em;
  margin:1.5em 0 1em 0;
}

#profile_links {margin-bottom:5em;}

#profile_links li {display:inline;}
#profile_links li {
  display:inline-block;
  padding: 0.6em 1.25em 0.5em 1.25em;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

.main_links {
  font-size:1.2em;
  text-transform:uppercase;
}
.main_links a {
  color: #999;
  text-decoration:none;
} 

.main_links a:hover, .main_links a:focus {
  color: #000;
  text-decoration:underline;
}

ul#social_media_links {margin-bottom:5em;}

ul#social_media_links li {
  display: inline;
  padding:0 1.25em;
  text-transform:uppercase;
}


ul#social_media_links a{display:inline;}
ul#social_media_links a {
  display:inline-block;
  height: 0;
  padding-top: 60px;
  width:60px;
  overflow: hidden;
  text-decoration:none;
  -webkit-border-radius:7px; 
  -moz-border-radius:7px; 
  border-radius:7px;
}

ul#social_media_links a#linkedin{background:transparent url('images/linkedin_icon.png') no-repeat;}
ul#social_media_links a#email{background:transparent url('images/email_icon.png') no-repeat;}
ul#social_media_links a#blog{background:transparent url('images/wordpress_icon.png') no-repeat;}
ul#social_media_links a#twitter{background:transparent url('images/twitter_icon.png') no-repeat;}
ul#social_media_links a#github{background:transparent url('images/github_icon.png') no-repeat;}

ul#social_media_links a:hover, ul#social_media_links a:focus {
  -webkit-box-shadow:0 0 15px #09f; 
  -moz-box-shadow: 0 0 15px #09f; 
  box-shadow:0 0 15px #09f;
}

ul#social_media_links a:active {
  position:relative;
  top:2px;
}